<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.nitobi.johngarrett" version="1.0">
<name>recambiosmovil</name> 
<description>
recambiosmovil
</description> 
<author href="http://www.recambiosmovil.com" email="info@recambiosmovil.com">
recambiosmovil
</author> 
<icon src="http://recambiosmovil.net/ic_launcher.png" width="72" height="72" />
<icon src="http://recambiosmovil.net/ic_launcher.png" width="48" height="48" />
<icon src="http://recambiosmovil.net/ic_launcher.png" width="36" height="36" />
</widget>
